# Recap Session 1: Variables and types

## Variables

Variables are the way we have to store information in the memory of our computers. In Python, the variables *point* towards the memory position in which we have allocated the information, and when reading it, Python interprets the data in different ways, according to the `type` of that piece of information.

Variables are assigned their value with `=`.

Variables have some rules we have to follow when defining them:
* Variables can't start with a number
* Variables can't contain special characters like `@`
* We can't use Python reserved words like `if` of `for`

The different types of variables we're going to be working with are:
* Numeric: `int` and `float`
* Strings: `str`
* Boolean: `bool`

Also, we can have in Python variables that represent containers of information. These are the types of the most common ones:
* List: `list`
* Tuple: `tuple`
* Set: `set`
* Dictionary: `dict`

### Saving information in a variable

In Python, when we want to save some information in a variable, we first type the name we want our variable to have, and then using `=` we assign the value we want for that variable:

```Python
variable_name = value_to_store
```

In [1]:
# saving a text sequence as string in a variable named `text_to_save`

text_to_save = "Text that will be stored in memory, assigned to `text_to_save`"

In [2]:
text_to_save

'Text that will be stored in memory, assigned to `text_to_save`'

### Assessing the type of information our variable stores.

In Python we use `type(variable)` to check the type of object stored in `variable`

In [3]:
word = "hola"

type(word)  # string: str

str

## Numeric (`int` and `float`)

The available numeric types we have in Python are the following two:
* Integers: represented with the type `int`
* Float: numbers with a decimal part, represented by `float`. Integer and decimal part separated by decimal point `.`

In [4]:
# int

int_num = 5

In [5]:
int_num

5

In [6]:
# float

float_num = 5.001

In [7]:
float_num

5.001

The operators with which we can operate numeric types are the following: 

We can operate `int` and `float` between them, independently of their type. 
* Addition: `+`
* Substraction: `-`
* Multiplication: `*`
* Division: `/`
* Floored division: `//`. Represents the integer part of the quotient.
* Modulo: `%`. Represents the remainder of the division.
* Power: `**`

In [8]:
# addition
7 + 11.5

18.5

In [9]:
# substraction
7 - 10

-3

In [10]:
# multiplication
5 * 8

40

In [11]:
# division
6 / 4.0

1.5

In [12]:
# floored division
15 // 7

2

In [16]:
# to get only the decimals of the quotients

7 / 3 - 7 // 3

0.3333333333333335

In [14]:
# modulo
14 % 4

2

In [15]:
# power
5 ** 3

125

We have also some built-in functions that allow us to operate further with numbers:

* Convert to integer: `int()`
* Convert to float: `float()`. Will add 1 decimal zero.
* Return absolute value: `abs()`

In [19]:
# convert 4.566 to integer
int(4.566)

4

In [20]:
# convert 5 to float: adds 
float(5)

5.0

In [21]:
# absolute value of -67: 67
abs(-67)

67

In [26]:
# you can convert strings that represent number with int/float

int("5")

5

In [27]:
float("5.5")

5.5

In [23]:
abs(int("-5"))

5

## Boolean: `bool`

Boolean types represent truth. They have only two possible values: `True` or `False`.

Boolean types are the result of logic operations like `not`, `and`, `or`
* `not` changes the value of the following proposition: `True` to `False` and viceversa.
* `and` operations are True/False if **all** of the inputs are True/False
    * True and True = True
    * True and False = False
    * False and True = False
    * False and False = False
* `or` operations are True/False if **one** of the inputs are True/False
    * True or True = True
    * True or False = True
    * False or True = True
    * False or False = False
    
When concatenating logical operations, the priority order from highest to lowest is the following: `not`, `and`, `or`

We can *compare* variables and expressions using logic operators
* `==` equal
* `!=` not equal
* `>` strictly greater than
* `>=` greater than or equal
* `<` strictly less than
* `<=` less than or equal
* `is` object identity
* `is not` negated object identity
* element `in` container

In [28]:
# not True is False
not True

False

In [29]:
6 > 3

True

In [30]:
# True and False = False
# 7 > 6: True
# type("hola") == int: False

(7 > 6) and (type("hola") == int)

# True and False

False

In [31]:
condition_1 = 7 > 10
condition_2 = type(5.0) == int
condition_3 = 10 > 5

(not condition_1) or (condition_2) and (condition_3)
# True or False and True

True

## Text sequences or strings: `str` 

Strings are immutable sequences of characters. They're defined with single, double or triple quotes:

```Python
str1 = 'using single quotes'
str2 = "usingdoble quotes"
str3 = """
using triple quotes
allows us to write in different lines
"""
```

### Built-in methods and properties for strings

* Convert to string:
    * `str(thing_to_convert)`
* Length: 
  * `len(string)`
* Uppercase, lowercase, capitalize: 
  * Uppercase: `str.upper()`
  * Lowercase: `str.lower()`
  * Capitalizes first letter: `str.capitalize()`
  * Capitalize every word in string: `str.title()`
  * Swap upper with lower and viceversa: `str.swapcase()`
* Split strings according to a specific substring: 
  * `str.split(substring)`, defaults with whitespace
* Joining a list of strings with a specific substring:
  * `substring.join(list_of_strings)`
* Replace substrings in a string:
  * `str.replace(old_substring, new_substring)`
* Remove charactes at the beginning or end of a string:
  * Beginning and end: `str.strip(substring)`
  * Beginning: `str.lstrip(substring)`
  * End: `str.rstrip(substring)`
* Adding characters to string:
  * Centering a string between certain amount of characters up to total length of N:
    * `str.center(N, character)`, defaults with whitespace
  * Justifying to left or right:
    * Justify left: `str.ljust(N, character)`
    * Justify right: `str.rjust(N, character)`
  * Filling with zeros up to length N
    * `str.zfill(N)`

In [34]:
# split

split_list = "hello everyone".split()

split_list

['hello', 'everyone']

In [38]:
# join

character = "X"

character.join(split_list)

'helloXeveryone'

In [39]:
# replace
string = "this machine is learning"

string.replace("chin", "CHIN")

'this maCHINe is learning'

In [41]:
# strip
string = "   hello class "

string.strip()

'hello class'

In [42]:
# lstrip

string.lstrip()

'hello class '

In [43]:
# rstrip
string.rstrip()

'   hello class'

In [44]:
# specifying a character
string = "00000123"

string.lstrip("0")

'123'

In [45]:
# center

string_to_center = "hello"

string_to_center.center(15)

'     hello     '

In [2]:
# ljust

string = "dani"

string.ljust(10, "k")

'danikkkkkk'

In [3]:
# rjust
string = "dani"

string.rjust(10, "0")

'000000dani'

In [4]:
string.zfill(10)

'000000dani'

### Formatting strings

In order to include the content of variables in our strings, or when we want to represent other types as strings, we can use string formatting.

There are many ways for doing this:
* Converting each piece into a string and use `+` to build the final string
* Using `str.format(item1, item2, ...)`
* Using `f""`

In [5]:
# using `+`

"There are " + str(4) + " directions: North, South, East, West"

'There are 4 directions: North, South, East, West'

In [6]:
# using `str.format`

"There are 4 directions: {}, {}, {}, {}".format("North", "South", "East", "West")

'There are 4 directions: North, South, East, West'

In [7]:
# using `f""`
directions = ["North", "South", "East", "West"]
directions_str = ", ".join(directions)

f"There are {len(directions)} directions: {directions_str}"

'There are 4 directions: North, South, East, West'

## Containers

|| Lists | Tuples | Sets | Dictionaries |
|----|--------| --- | --- | --- |
| **definition** | `list()`, [] | `tuple()`, () | `set()`| `dict()`, {} |
| **ordered** | yes | yes | no | no |
| **indexed** | yes | yes | no | no |
| **mutable** | yes | no | yes | yes |
| **allow duplicates** | yes | yes | no | no (keys), yes (values) |

### Indexing and slicing containers

In order to access the n-th element of an indexed container (lists and tuples), we can use straight brackets with the index we want --`container[index]`-- to access it. We have to keep in mind that Python is a zero-based index language.

In [60]:
# get first element of list
[1, 2, 3][0]

1

In [61]:
# get last element of tuple
(1, 2, 3)[-1]

3

In [62]:
# getting the 3 first elements of list
[1, 2, 3, 4, 5][:3]

[1, 2, 3]

In [8]:
# define a list
my_list = [1, 2, 3, 4, 5, 6]

# get the elements taken two by two starting from the end
my_list[::-2]

[6, 4, 2]

### Checking if element is contained in container

If we want to check if a certain element is contained in a bigger element, we can use `in`.

```Python
element in bigger_element
```

In [9]:
# substring in string
"garcia" in "daniel garcia hernandez"

True

In [10]:
# number in set
4 in {4, 5, 6}

True

In [11]:
# key in dictionary
"a" in {"a": 1, "b": 2}

True

### Concatenating and multiplying strings and lists

We can put together two or more strings by using the addition symbol `+`

We can repeat a string or a list by multiplying it times the number of times we want.

In [12]:
# adding strings
"hola" + " a" + " todos"

'hola a todos'

In [13]:
# adding lists
[1, 2, 3] + ["a", "b", "c"]

[1, 2, 3, 'a', 'b', 'c']

In [14]:
# multiplying strings
"abc " * 5

'abc abc abc abc abc '

In [15]:
# multiplying lists
[1, 2, 3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Updating mutable containers

#### Updating lists

We can use `list.append(element)` to add elements to an existing list. 

We can remove items from a list in two different ways.
* `list.pop(index)`
* `list.remove(element)`

In [20]:
# define list
my_list = [1, 2, 3, 4, 5]

my_list

[1, 2, 3, 4, 5]

In [21]:
# add new element
my_list.append(6)

my_list

[1, 2, 3, 4, 5, 6]

In [22]:
# or with + and a new list

my_list + [7]

[1, 2, 3, 4, 5, 6, 7]

In [23]:
# remove element with index 3 (number 4) from list: using pop(index)
# by default and without index, it will remove the last element

my_list.pop(3)

my_list

[1, 2, 3, 5, 6]

In [24]:
# remove number 5 from the list

my_list.remove(5)

my_list

[1, 2, 3, 6]

### Updating sets

We can add a single element to our set with `set.add(element)` or we can add more than one element with `set.update(container)`

We can remove elements by value from our set with `set.discard(element)`

In [25]:
# create set

my_set = set([1, 2, 3, 4, 5])

my_set

{1, 2, 3, 4, 5}

In [26]:
# add element to set

my_set.add(6)

my_set

{1, 2, 3, 4, 5, 6}

In [27]:
# update set

my_set.update([8, 9, 9, 9])

my_set

{1, 2, 3, 4, 5, 6, 8, 9}

In [28]:
# remove 4 from set

my_set.discard(4)

my_set

{1, 2, 3, 5, 6, 8, 9}

In [29]:
my_set.remove(6)

my_set

{1, 2, 3, 5, 8, 9}

### Updating dictionaries

We can add a new `key-value` pair to our dictionaries using the following statement: `dict[new_key] = new_value`

We can also remove `key-value` pair by using `dict.pop(key_to_remove)`

In [30]:
# create dict

my_dict = {
    "two": 2, "one": 1, "three": 3 
}

my_dict

{'two': 2, 'one': 1, 'three': 3}

In [31]:
# add new key-value pair
my_dict["four"] = 4

my_dict

{'two': 2, 'one': 1, 'three': 3, 'four': 4}

In [32]:
# update dictionary

my_dict.update({"five": 5})

my_dict

{'two': 2, 'one': 1, 'three': 3, 'four': 4, 'five': 5}

In [33]:
# remove {"one": 1} from our dictionary

my_dict.pop("one")

my_dict

{'two': 2, 'three': 3, 'four': 4, 'five': 5}

### More on dictionaries

* Dictionaries can be broken into a list of tuples (key, value) by using `dict.items()`
* Dictionaries are integral to computing, since they are the basis of JSON files

In [34]:
my_dict = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}

my_dict.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

## Practice

### Exercise 1 (Homework): 

How would you check if a number is even or odd?

In [35]:
7.5 % 2

1.5

In [36]:
number = 7.5

if number % 2 == 0:
    print("This number is even")
else:
    print("This number is odd")

This number is odd

In [37]:
result = "even" if number % 2 == 0 else "odd" 

result

'odd'

### Exercise 2:
What's results of the following statement?

```Python
condition_1 = 10 > 8
condition_2 = type("hello!") == int
condition_3 = "4" in "1234"

condition_1 or not condition_2 and condition_3
```

In [39]:
condition_1 = 10 > 8
condition_2 = type("hello!") == int
condition_3 = "4" in "1234"

condition_1 or not condition_2 and condition_3

True

### Exercise 3:
Create a list with your names and last names as independent elements e.g. `["daniel", "garcia hernandez"]`, and add to it your age as string

In [40]:
list_name = ["daniel", "garcia", "hernandez"]

list_name.append("33")

list_name

['daniel', 'garcia', 'hernandez', '33']

### Exercise 4 (Homework):

Create a dictionary called `countries` with 5 countries of your choice, and include the following information in it for each country:

```Python
countries = {
    "country_1": {
        "name": name,
        "capital_city": capital_city,
    },
    ...
}
```

In [41]:
# homework

### Exercise 5 (Homework):

Update the `countries` dictionary with this piece of information:

```Python
more_countries = {
    "country_6": {
        "name": "Australia",
        "capital_city": "Canberra"
    },
    "country_7": {
        "name": "Canada",
        "capital_city": "Ottawa"   
    }
}
```

In [42]:
my_dict = {
    "country_6": {
        "name": "Australia",
        "capital_city": "Canberra"
    },
    "country_7": {
        "name": "Canada",
        "capital_city": "Ottawa"   
    }
}

more_countries = {
    "country_8": {
        "name": "Australia",
        "capital_city": "Canberra"
    },
    "country_9": {
        "name": "Canada",
        "capital_city": "Ottawa"   
    }
}

my_dict.update(more_countries)

my_dict

{'country_6': {'name': 'Australia', 'capital_city': 'Canberra'},
 'country_7': {'name': 'Canada', 'capital_city': 'Ottawa'},
 'country_8': {'name': 'Australia', 'capital_city': 'Canberra'},
 'country_9': {'name': 'Canada', 'capital_city': 'Ottawa'}}

### Exercise 6 (Homework):

Remove `country_6` from your `countries` dictionary.

In [43]:
my_dict.pop("country_6")

{'name': 'Australia', 'capital_city': 'Canberra'}

In [44]:
my_dict

{'country_7': {'name': 'Canada', 'capital_city': 'Ottawa'},
 'country_8': {'name': 'Australia', 'capital_city': 'Canberra'},
 'country_9': {'name': 'Canada', 'capital_city': 'Ottawa'}}